.userList {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.userImageContainer {
  position: relative;
  margin-right: 10px;
}

.userListImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.onlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.offlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
